/node_modules
/package.json
/package-lock.json
/webpack.config.js
/webpack.generated.js
/target
/types.d.ts*
/tsconfig.json*
/.settings
/.project
/.classpath
/frontend/generated
/frontend/index.html
/src/main/bundles
/.claude/settings.local.json
